{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow-sm">
      <div class="card-body">

        <h3 class="mb-3">Entrar</h3>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" class="btn btn-dark w-100">
            Entrar
          </button>
        </form>

      </div>
    </div>

  </div>
</div>
{% endblock %}
